openapi: 3.0.3
info:
  contact:
    email: engineering@blues.io
    name: Blues Engineering
    url: https://dev.blues.io/support/
  description: |
    The OpenAPI definition for the Notehub.io API.
  title: Notehub API
  version: 1.2.0
externalDocs:
  description: Find out more about Blues
  url: https://blues.io
servers:
- description: Production server
  url: https://api.notefile.net
tags:
- description: Authorization operations
  name: authorization
- description: Project operations
  name: project
- description: Event retrieval operations
  name: event
- description: Device operations
  name: device
- description: Billing Account operations
  name: billing_account
- description: Management of monitors
  name: monitors
- description: Route operations
  name: route
- description: Webhook APIs for non-notecard event ingestion
  name: webhook
- description: APIs for events and sessions for external devices
  name: external devices
- description: "Project Usage information related to events, route logs, sessions,\
    \ and data usage"
  name: usage
paths:
  /auth/login:
    post:
      description: Gets an API key from username and password
      operationId: Login
      requestBody:
        content:
          application/json:
            example:
              username: name@example.com
              password: test-password
            schema:
              $ref: '#/components/schemas/Login_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Login_200_response'
          description: Successful operation
        "400":
          description: Bad Request
        "500":
          description: Internal Server Error
      tags:
      - authorization
  /oauth2/token:
    post:
      description: |
        Exchanges client credentials for an access token. Parameters must be sent as application/x-www-form-urlencoded.
      operationId: OAuth2ClientCredentials
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAuth2ClientCredentials_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                access_token: 7VEVIiNVr_Q_eqjWpddz18qmYVWVgKHtlYsuoYzS7v0.3BUMglZCKBF1Swz0WLQQ9-DgSBtkroKbpXmF1sJ-NE0
                expires_in: 1800
                scope: openid
                token_type: bearer
              schema:
                $ref: '#/components/schemas/OAuth2TokenResponse'
          description: Successful token response
        "400":
          content:
            application/json:
              example:
                error: invalid_request
                error_description: "Missing parameter: client_id"
              schema:
                $ref: '#/components/schemas/OAuth2Error'
          description: Invalid request (missing or malformed parameters)
        "401":
          content:
            application/json:
              example:
                error: invalid_client
                error_description: Client authentication failed
              schema:
                $ref: '#/components/schemas/OAuth2Error'
          description: Invalid client authentication
        "403":
          content:
            application/json:
              example:
                error: invalid_scope
                error_description: Requested scope is invalid
              schema:
                $ref: '#/components/schemas/OAuth2Error'
          description: Unauthorized scope
      summary: Issue an OAuth 2.0 access token (Client Credentials)
      tags:
      - authorization
  /v1/projects/{projectOrProductUID}/routes:
    get:
      description: Get all Routes within a Project
      operationId: GetRoutes
      parameters:
      - example: app:2606f411-dea6-44a0-9743-1130f57d77d8
        explode: false
        in: path
        name: projectOrProductUID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
              - uid: route:8d65a087d5d290ce5bdf03aeff2becc0
                label: success route
                type: http
                modified: 2020-03-09T17:58:37Z
                disabled: false
              - uid: route:a9eaad31d5cee8d01a42762f71fb777a
                label: failing route
                type: http
                modified: 2020-03-09T17:59:15Z
                disabled: false
              - uid: route:02ddc0e6e236c2a7e482da62047229ad
                label: disabled route
                type: http
                modified: 2020-03-09T17:59:44Z
                disabled: true
              - uid: route:0ac565deb7b478a250bb82348b9cfdd4
                label: Proxy Route
                type: proxy
                modified: 2020-03-09T17:58:36Z
                disabled: false
              - uid: route:fb1b9e0aba1bf030311ba2c3c1e3efd7
                label: Myjsonlive Webtest
                type: proxy
                modified: 2020-03-09T17:58:35Z
                disabled: false
              - uid: route:7804818f84a3be6193e14d804fe7fca7
                label: Myjsonlive Echo
                type: proxy
                modified: 2020-03-09T17:58:34Z
                disabled: false
              schema:
                items:
                  $ref: '#/components/schemas/NotehubRouteSummary'
                minItems: 0
                type: array
          description: Successful operation
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The response body in case of an API error.
      security:
      - personalAccessToken: []
      tags:
      - route
    post:
      description: Create Route within a Project
      operationId: CreateRoute
      parameters:
      - example: app:2606f411-dea6-44a0-9743-1130f57d77d8
        explode: false
        in: path
        name: projectOrProductUID
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              http:
                summary: HTTP route
                value:
                  label: Route Label
                  http:
                    fleets:
                    - fleet:1042ddc5-3b2c-4cec-b1fb-d3040538094d
                    filter: {}
                    transform: {}
                    throttle_ms: 100
                    url: https://example.com/ingest
                    http_headers:
                      X-My-Header: value
                    disable_http_headers: false
                    timeout: 5000
            schema:
              $ref: '#/components/schemas/NotehubRoute'
        description: Route to be created
        required: true
      responses:
        "201":
          content:
            application/json:
              example:
                uid: route:8d65a087d5d290ce5bdf03aeff2becc0
                label: Route Label
                type: http
                modified: 2020-03-09T17:59:44Z
                disabled: "false"
                http:
                  fleets:
                  - fleet:1042ddc5-3b2c-4cec-b1fb-d3040538094d
                  filter:
                    type: ""
                    system_notefiles: false
                  transform: {}
                  throttle_ms: 100
                  url: http://route.url
                  http_headers: null
                  disable_http_headers: false
                  timeout: 0
              schema:
                $ref: '#/components/schemas/NotehubRoute'
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The response body in case of an API error.
      security:
      - personalAccessToken: []
      tags:
      - route
  /v1/projects/{projectOrProductUID}/routes/{routeUID}:
    delete:
      description: Delete single route within a project
      operationId: DeleteRoute
      parameters:
      - example: app:2606f411-dea6-44a0-9743-1130f57d77d8
        explode: false
        in: path
        name: projectOrProductUID
        required: true
        schema:
          type: string
        style: simple
      - example: route:cbd20093cba58392c9f9bbdd0cdeb1a0
        explode: false
        in: path
        name: routeUID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Successful operation
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The response body in case of an API error.
      security:
      - personalAccessToken: []
      tags:
      - route
    get:
      description: Get single route within a project
      operationId: GetRoute
      parameters:
      - example: app:2606f411-dea6-44a0-9743-1130f57d77d8
        explode: false
        in: path
        name: projectOrProductUID
        required: true
        schema:
          type: string
        style: simple
      - example: route:cbd20093cba58392c9f9bbdd0cdeb1a0
        explode: false
        in: path
        name: routeUID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                uid: route:8d65a087d5d290ce5bdf03aeff2becc0
                label: Route Label
                type: http
                modified: 2020-03-09T17:59:44Z
                disabled: "false"
                http:
                  fleets:
                  - fleet:1042ddc5-3b2c-4cec-b1fb-d3040538094d
                  filter:
                    type: ""
                    system_notefiles: false
                  transform: {}
                  throttle_ms: 100
                  url: http://route.url
                  http_headers: null
                  disable_http_headers: false
                  timeout: 0
              schema:
                $ref: '#/components/schemas/NotehubRoute'
          description: Successful operation
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The response body in case of an API error.
      security:
      - personalAccessToken: []
      tags:
      - route
    put:
      description: Update route by UID
      operationId: UpdateRoute
      parameters:
      - example: app:2606f411-dea6-44a0-9743-1130f57d77d8
        explode: false
        in: path
        name: projectOrProductUID
        required: true
        schema:
          type: string
        style: simple
      - example: route:cbd20093cba58392c9f9bbdd0cdeb1a0
        explode: false
        in: path
        name: routeUID
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example: |
              {
                "http" {
                  "filter": {
                    "type": "include",
                    "system_notefiles": true,
                    "files": ["somefile.qo"],
                  },
                  "throttle_ms": 50,
                  "url": "http://new-route.url",
                },
              }
            schema:
              $ref: '#/components/schemas/NotehubRoute'
        description: Route settings to be updated
        required: true
      responses:
        "200":
          content:
            application/json:
              example: |
                {
                  "uid": "route:8d65a087d5d290ce5bdf03aeff2becc0",
                  "label": "Route Label",
                  "type": "http",
                  "modified": "2020-03-09T17:59:44Z",
                  "disabled": "false",
                  "http":
                    {
                    "fleets": ["fleet:1042ddc5-3b2c-4cec-b1fb-d3040538094d"],
                    "filter": {
                      "type": "include",
                      "system_notefiles": true,
                      "files": ["somefile.qo"],
                    },
                  "transform": {},
                  "throttle_ms": 50,
                  "url": "http://new-route.url",
                  "http_headers": null,
                  "disable_http_headers": false,
                  "timeout": 0
                }
              schema:
                $ref: '#/components/schemas/NotehubRoute'
          description: Successful operation
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The response body in case of an API error.
      security:
      - personalAccessToken: []
      tags:
      - route
  /v1/projects/{projectOrProductUID}/routes/{routeUID}/route-logs:
    get:
      description: Get Route Logs by Route UID
      operationId: GetRouteLogsByRoute
      parameters:
      - example: app:2606f411-dea6-44a0-9743-1130f57d77d8
        explode: false
        in: path
        name: projectOrProductUID
        required: true
        schema:
          type: string
        style: simple
      - example: route:cbd20093cba58392c9f9bbdd0cdeb1a0
        explode: false
        in: path
        name: routeUID
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: pageSize
        required: false
        schema:
          default: 50
          maximum: 10000
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: pageNum
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - description: A Device UID.
        explode: true
        in: query
        name: deviceUID
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: sortBy
        required: false
        schema:
          default: date
          enum:
          - date
          - event
          type: string
        style: form
      - explode: true
        in: query
        name: sortOrder
        required: false
        schema:
          default: desc
          enum:
          - asc
          - desc
          type: string
        style: form
      - description: "Start date for filtering results, specified as a Unix timestamp"
        example: 1628631763
        explode: true
        in: query
        name: startDate
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: "End date for filtering results, specified as a Unix timestamp"
        example: 1657894210
        explode: true
        in: query
        name: endDate
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - explode: true
        in: query
        name: systemFilesOnly
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: mostRecentOnly
        required: false
        schema:
          type: boolean
        style: form
      - example: "_health.qo, data.qo"
        explode: true
        in: query
        name: files
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/RouteLog'
                type: array
          description: Successful operation
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The response body in case of an API error.
      security:
      - personalAccessToken: []
      tags:
      - route
  /v1/products/{productUID}/project:
    get:
      description: Get a Project by ProductUID
      operationId: GetProjectByProduct
      parameters:
      - example: com.blues.airnote
        explode: false
        in: path
        name: productUID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
          description: Successful operation
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The response body in case of an API error.
      security:
      - personalAccessToken: []
      tags:
      - project
  /v1/billing-accounts:
    get:
      description: Get Billing Accounts accessible by the api_key
      operationId: GetBillingAccounts
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBillingAccounts_200_response'
          description: Successful operation
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The response body in case of an API error.
      security:
      - personalAccessToken: []
      tags:
      - billing_account
  /v1/projects:
    get:
      description: Get Projects accessible by the api_key
      operationId: GetProjects
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetProjects_200_response'
          description: Successful operation
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The response body in case of an API error.
      security:
      - personalAccessToken: []
      tags:
      - project
    post:
      description: Create a Project
      operationId: CreateProject
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProject_request'
        description: Project to be created
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
          description: Successful operation
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The response body in case of an API error.
      security:
      - personalAccessToken: []
      tags:
      - project
  /v1/projects/{projectOrProductUID}/clone:
    post:
      description: Clone a Project
      operationId: CloneProject
      parameters:
      - example: app:2606f411-dea6-44a0-9743-1130f57d77d8
        explode: false
        in: path
        name: projectOrProductUID
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CloneProject_request'
        description: Project to be cloned
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
          description: Successful operation
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The response body in case of an API error.
      security:
      - personalAccessToken: []
      tags:
      - project
  /v1/projects/{projectOrProductUID}:
    delete:
      description: Delete a Project by ProjectUID
      operationId: DeleteProject
      parameters:
      - example: app:2606f411-dea6-44a0-9743-1130f57d77d8
        explode: false
        in: path
        name: projectOrProductUID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Successful operation
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The response body in case of an API error.
      security:
      - personalAccessToken: []
      tags:
      - project
    get:
      description: Get a Project by ProjectUID
      operationId: GetProject
      parameters:
      - example: app:2606f411-dea6-44a0-9743-1130f57d77d8
        explode: false
        in: path
        name: projectOrProductUID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
          description: Successful operation
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The response body in case of an API error.
      security:
      - personalAccessToken: []
      tags:
      - project
  /v1/projects/{projectOrProductUID}/products:
    get:
      description: Get Products within a Project
      operationId: GetProducts
      parameters:
      - example: app:2606f411-dea6-44a0-9743-1130f57d77d8
        explode: false
        in: path
        name: projectOrProductUID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetProducts_200_response'
          description: Successful operation
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The response body in case of an API error.
      security:
      - personalAccessToken: []
      tags:
      - project
    post:
      description: Create Product within a Project
      operationId: CreateProduct
      parameters:
      - example: app:2606f411-dea6-44a0-9743-1130f57d77d8
        explode: false
        in: path
        name: projectOrProductUID
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProduct_request'
        description: Product to be created
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
          description: Successful operation
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The response body in case of an API error.
      security:
      - personalAccessToken: []
      tags:
      - project
  /v1/projects/{projectOrProductUID}/products/{productUID}:
    delete:
      description: Delete a product
      operationId: DeleteProduct
      parameters:
      - example: app:2606f411-dea6-44a0-9743-1130f57d77d8
        explode: false
        in: path
        name: projectOrProductUID
        required: true
        schema:
          type: string
        style: simple
      - example: com.blues.bridge:sensors
        explode: false
        in: path
        name: productUID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Successful operation
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The response body in case of an API error.
      security:
      - personalAccessToken: []
      tags:
      - project
  /v1/projects/{projectOrProductUID}/fleets:
    get:
      description: Get Project Fleets
      operationId: GetFleets
      parameters:
      - example: app:2606f411-dea6-44a0-9743-1130f57d77d8
        explode: false
        in: path
        name: projectOrProductUID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetFleets_200_response'
          description: The response body from a fleets endpoint.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The response body in case of an API error.
      security:
      - personalAccessToken: []
      tags:
      - project
    post:
      description: Create Fleet
      operationId: CreateFleet
      parameters:
      - example: app:2606f411-dea6-44a0-9743-1130f57d77d8
        explode: false
        in: path
        name: projectOrProductUID
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateFleet_request'
        description: Fleet to be added
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Fleet'
          description: Successful operation
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The response body in case of an API error.
      security:
      - personalAccessToken: []
      tags:
      - project
  /v1/projects/{projectOrProductUID}/fleets/{fleetUID}:
    delete:
      description: Delete Fleet
      operationId: DeleteFleet
      parameters:
      - example: app:2606f411-dea6-44a0-9743-1130f57d77d8
        explode: false
        in: path
        name: projectOrProductUID
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: fleetUID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Successful operation
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The response body in case of an API error.
      security:
      - personalAccessToken: []
      tags:
      - project
    get:
      description: Get Fleet
      operationId: GetFleet
      parameters:
      - example: app:2606f411-dea6-44a0-9743-1130f57d77d8
        explode: false
        in: path
        name: projectOrProductUID
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: fleetUID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Fleet'
          description: Successful operation
      security:
      - personalAccessToken: []
      tags:
      - project
    put:
      description: Update Fleet
      operationId: UpdateFleet
      parameters:
      - example: app:2606f411-dea6-44a0-9743-1130f57d77d8
        explode: false
        in: path
        name: projectOrProductUID
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: fleetUID
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateFleet_request'
        description: Fleet details to update
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Fleet'
          description: Successful operation
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The response body in case of an API error.
      security:
      - personalAccessToken: []
      tags:
      - project
  /v1/projects/{projectOrProductUID}/members:
    get:
      description: Get Project Members
      operationId: GetProjectMembers
      parameters:
      - example: app:2606f411-dea6-44a0-9743-1130f57d77d8
        explode: false
        in: path
        name: projectOrProductUID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetProjectMembers_200_response'
          description: Successful operation
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The response body in case of an API error.
      security:
      - personalAccessToken: []
      tags:
      - project
  /v1/projects/{projectOrProductUID}/devices:
    get:
      description: Get Devices of a Project
      operationId: GetDevices
      parameters:
      - example: app:2606f411-dea6-44a0-9743-1130f57d77d8
        explode: false
        in: path
        name: projectOrProductUID
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: pageSize
        required: false
        schema:
          default: 50
          maximum: 10000
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: pageNum
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - description: A Device UID.
        explode: true
        in: query
        name: deviceUID
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Tag filter
        explode: true
        in: query
        name: tag
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Serial number filter
        explode: true
        in: query
        name: serialNumber
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: fleetUID
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Firmware version filter
        explode: true
        in: query
        name: notecardFirmware
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Location filter
        explode: true
        in: query
        name: location
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Host firmware filter
        explode: true
        in: query
        name: hostFirmware
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: productUID
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: SKU filter
        explode: true
        in: query
        name: sku
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDevices_200_response'
          description: List of Devices
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The response body in case of an API error.
      security:
      - personalAccessToken: []
      tags:
      - device
  /v1/projects/{projectOrProductUID}/devices/{deviceUID}/provision:
    post:
      description: Provision Device for a Project
      operationId: ProvisionDevice
      parameters:
      - example: app:2606f411-dea6-44a0-9743-1130f57d77d8
        explode: false
        in: path
        name: projectOrProductUID
        required: true
        schema:
          type: string
        style: simple
      - example: dev:000000000000000
        explode: false
        in: path
        name: deviceUID
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProvisionDevice_request'
        description: Provision a device to a specific ProductUID
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                default: {}
                type: object
          description: Successful operation
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The response body in case of an API error.
      security:
      - personalAccessToken: []
      tags:
      - device
  /v1/projects/{projectOrProductUID}/fleets/{fleetUID}/devices:
    get:
      description: Get Devices of a Fleet within a Project
      operationId: GetFleetDevices
      parameters:
      - example: app:2606f411-dea6-44a0-9743-1130f57d77d8
        explode: false
        in: path
        name: projectOrProductUID
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: fleetUID
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: pageSize
        required: false
        schema:
          default: 50
          maximum: 10000
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: pageNum
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - description: A Device UID.
        explode: true
        in: query
        name: deviceUID
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Tag filter
        explode: true
        in: query
        name: tag
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Serial number filter
        explode: true
        in: query
        name: serialNumber
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Firmware version filter
        explode: true
        in: query
        name: notecardFirmware
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Location filter
        explode: true
        in: query
        name: location
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Host firmware filter
        explode: true
        in: query
        name: hostFirmware
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: productUID
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: SKU filter
        explode: true
        in: query
        name: sku
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDevices_200_response'
          description: List of Devices
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The response body in case of an API error.
      security:
      - personalAccessToken: []
      tags:
      - device
  /v1/projects/{projectOrProductUID}/devices/public-keys:
    get:
      description: Get Device Public Keys of a Project
      operationId: GetDevicePublicKeys
      parameters:
      - example: app:2606f411-dea6-44a0-9743-1130f57d77d8
        explode: false
        in: path
        name: projectOrProductUID
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: pageSize
        required: false
        schema:
          default: 50
          maximum: 10000
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: pageNum
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDevicePublicKeys_200_response'
          description: Successful operation
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The response body in case of an API error.
      security:
      - personalAccessToken: []
      tags:
      - device
  /v1/projects/{projectOrProductUID}/devices/{deviceUID}:
    delete:
      description: Delete Device
      operationId: DeleteDevice
      parameters:
      - example: app:2606f411-dea6-44a0-9743-1130f57d77d8
        explode: false
        in: path
        name: projectOrProductUID
        required: true
        schema:
          type: string
        style: simple
      - example: dev:000000000000000
        explode: false
        in: path
        name: deviceUID
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: purge
        required: true
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "204":
          description: Successful operation
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The response body in case of an API error.
      security:
      - personalAccessToken: []
      tags:
      - device
    get:
      description: Get Device
      operationId: GetDevice
      parameters:
      - example: app:2606f411-dea6-44a0-9743-1130f57d77d8
        explode: false
        in: path
        name: projectOrProductUID
        required: true
        schema:
          type: string
        style: simple
      - example: dev:000000000000000
        explode: false
        in: path
        name: deviceUID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Device'
          description: Successful operation
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The response body in case of an API error.
      security:
      - personalAccessToken: []
      tags:
      - device
  /v1/projects/{projectOrProductUID}/devices/{deviceUID}/plans:
    get:
      description: "Get Data Plans associated with the device, this include the primary\
        \ sim, any external sim, as well as any satellite connections."
      operationId: GetDevicePlans
      parameters:
      - example: app:2606f411-dea6-44a0-9743-1130f57d77d8
        explode: false
        in: path
        name: projectOrProductUID
        required: true
        schema:
          type: string
        style: simple
      - example: dev:000000000000000
        explode: false
        in: path
        name: deviceUID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDevicePlans_200_response'
          description: Response body for /plans
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The response body in case of an API error.
      security:
      - personalAccessToken: []
      tags:
      - device
  /v1/projects/{projectOrProductUID}/devices/{deviceUID}/fleets:
    delete:
      description: Remove Device from Fleets
      operationId: DeleteDeviceFromFleets
      parameters:
      - example: app:2606f411-dea6-44a0-9743-1130f57d77d8
        explode: false
        in: path
        name: projectOrProductUID
        required: true
        schema:
          type: string
        style: simple
      - example: dev:000000000000000
        explode: false
        in: path
        name: deviceUID
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteDeviceFromFleets_request'
        description: |
          The fleets to remove from the device. Note that the endpoint takes an array of fleetUIDs, to facilitate multi-fleet devices. Multi-fleet is not yet enabled on all SaaS plans - unless it is supported by the SaaS plan of the project, passing more than a single fleetUID in the array is an error.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetFleets_200_response'
          description: The response body from a fleets endpoint.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The response body in case of an API error.
      security:
      - personalAccessToken: []
      tags:
      - project
    get:
      description: Get Device Fleets
      operationId: GetDeviceFleets
      parameters:
      - example: app:2606f411-dea6-44a0-9743-1130f57d77d8
        explode: false
        in: path
        name: projectOrProductUID
        required: true
        schema:
          type: string
        style: simple
      - example: dev:000000000000000
        explode: false
        in: path
        name: deviceUID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetFleets_200_response'
          description: The response body from a fleets endpoint.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The response body in case of an API error.
      security:
      - personalAccessToken: []
      tags:
      - project
    put:
      description: Add Device to Fleets
      operationId: AddDeviceToFleets
      parameters:
      - example: app:2606f411-dea6-44a0-9743-1130f57d77d8
        explode: false
        in: path
        name: projectOrProductUID
        required: true
        schema:
          type: string
        style: simple
      - example: dev:000000000000000
        explode: false
        in: path
        name: deviceUID
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddDeviceToFleets_request'
        description: |
          The fleets to add to the device. Note that the endpoint takes an array of fleetUIDs, to facilitate multi-fleet devices. Multi-fleet is not yet enabled on all SaaS plans - unless it is supported by the SaaS plan of the project, passing more than a single fleetUID in the array is an error.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetFleets_200_response'
          description: The response body from a fleets endpoint.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The response body in case of an API error.
      security:
      - personalAccessToken: []
      tags:
      - project
  /v1/projects/{projectOrProductUID}/devices/{deviceUID}/public-key:
    get:
      description: Get Device Public Key
      operationId: GetDevicePublicKey
      parameters:
      - example: app:2606f411-dea6-44a0-9743-1130f57d77d8
        explode: false
        in: path
        name: projectOrProductUID
        required: true
        schema:
          type: string
        style: simple
      - example: dev:000000000000000
        explode: false
        in: path
        name: deviceUID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDevicePublicKey_200_response'
          description: Successful operation
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The response body in case of an API error.
      security:
      - personalAccessToken: []
      tags:
      - device
  /v1/projects/{projectOrProductUID}/devices/{deviceUID}/latest:
    get:
      description: Get Device Latest Events
      operationId: GetDeviceLatestEvents
      parameters:
      - example: app:2606f411-dea6-44a0-9743-1130f57d77d8
        explode: false
        in: path
        name: projectOrProductUID
        required: true
        schema:
          type: string
        style: simple
      - example: dev:000000000000000
        explode: false
        in: path
        name: deviceUID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                latest_events:
                - event: 81bd2bf1-0399-4978-bc46-8f779b4af350
                  session: ed18884b-f2a6-419f-b856-d28dc8f0892b
                  tls: true
                  device: dev:864475040523995
                  product: product:com.blues.app:myapp
                  app: app:2e49f10a-76a9-4e2d-8b18-cef0b8b46446
                  received: 1.669667707564694E9
                  req: session.begin
                  when: 1669667707
                  file: _session.qo
                  body:
                    why: sensors.qo requested sync (sensors.qo) (TLS)
                  tower_when: 1669667691
                  tower_lat: 43.769062500000004
                  tower_lon: -83.657359375
                  tower_country: US
                  tower_location: Waverly MI
                  tower_timezone: America/Detroit
                  tower_id: "310,410,20483,184692495"
                - event: 916d4c81-06ae-4263-9b55-7a3a0f73cb5a
                  session: 28cdc39f-9f62-4789-b0a3-2f35f9448ced
                  device: dev:864475040523995
                  sn: tj-1
                  product: product:com.blues.app:myapp
                  app: app:2e49f10a-76a9-4e2d-8b18-cef0b8b46446
                  received: 1.669667713221659E9
                  req: note.add
                  when: 1669667689
                  file: data.qo
                  body:
                    humid: 56.23
                    temp: 35.5
                  tower_when: 1669667677
                  tower_lat: 43.769062500000004
                  tower_lon: -83.657359375
                  tower_country: US
                  tower_location: Waverly MI
                  tower_timezone: America/Detroit
                  tower_id: "310,410,20483,184692495"
                - event: e98c2c3b-edbe-4fe7-af57-2196cc843eb7
                  session: 7211392c-6895-43f8-9256-790655348be5
                  device: dev:864475040523995
                  product: product:com.blues.app:myapp
                  app: app:2e49f10a-76a9-4e2d-8b18-cef0b8b46446
                  received: 1.66966771185316E9
                  req: note.add
                  when: 1669667695
                  file: sensors.qo
                  body:
                    humidity: 69.88647200683693
                    pressure: 993.6294496104914
                    temp: 21.273027181770885
                  tower_when: 1669667689
                  tower_lat: 43.747037500000005
                  tower_lon: -83.665859375
                  tower_country: US
                  tower_location: Waverly MI
                  tower_timezone: America/Detroit
                  tower_id: "310,410,20483,184692496"
              schema:
                $ref: '#/components/schemas/GetDeviceLatestEvents_200_response'
          description: The response body for a Latest Events request.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The response body in case of an API error.
      security:
      - personalAccessToken: []
      tags:
      - device
  /v1/projects/{projectOrProductUID}/devices/{deviceUID}/health-log:
    get:
      description: Get Device Health Log
      operationId: GetDeviceHealthLog
      parameters:
      - example: app:2606f411-dea6-44a0-9743-1130f57d77d8
        explode: false
        in: path
        name: projectOrProductUID
        required: true
        schema:
          type: string
        style: simple
      - example: dev:000000000000000
        explode: false
        in: path
        name: deviceUID
        required: true
        schema:
          type: string
        style: simple
      - description: "Start date for filtering results, specified as a Unix timestamp"
        example: 1628631763
        explode: true
        in: query
        name: startDate
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: "End date for filtering results, specified as a Unix timestamp"
        example: 1657894210
        explode: true
        in: query
        name: endDate
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: Return only specified log types
        explode: true
        in: query
        name: log_type
        required: false
        schema:
          items:
            enum:
            - boot
            - dfu_completed
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDeviceHealthLog_200_response'
          description: Successful operation
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The response body in case of an API error.
      security:
      - personalAccessToken: []
      tags:
      - device
  /v1/projects/{projectOrProductUID}/devices/{deviceUID}/enable:
    post:
      description: Enable Device
      operationId: EnableDevice
      parameters:
      - example: app:2606f411-dea6-44a0-9743-1130f57d77d8
        explode: false
        in: path
        name: projectOrProductUID
        required: true
        schema:
          type: string
        style: simple
      - example: dev:000000000000000
        explode: false
        in: path
        name: deviceUID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Successful operation
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The response body in case of an API error.
      security:
      - personalAccessToken: []
      tags:
      - device
  /v1/projects/{projectOrProductUID}/devices/{deviceUID}/disable:
    post:
      description: Disable Device
      operationId: DisableDevice
      parameters:
      - example: app:2606f411-dea6-44a0-9743-1130f57d77d8
        explode: false
        in: path
        name: projectOrProductUID
        required: true
        schema:
          type: string
        style: simple
      - example: dev:000000000000000
        explode: false
        in: path
        name: deviceUID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Successful operation
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The response body in case of an API error.
      security:
      - personalAccessToken: []
      tags:
      - device
  /v1/projects/{projectOrProductUID}/devices/{deviceUID}/enable-connectivity-assurance:
    post:
      description: Enable Connectivity Assurance
      operationId: EnableDeviceConnectivityAssurance
      parameters:
      - example: app:2606f411-dea6-44a0-9743-1130f57d77d8
        explode: false
        in: path
        name: projectOrProductUID
        required: true
        schema:
          type: string
        style: simple
      - example: dev:000000000000000
        explode: false
        in: path
        name: deviceUID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Successful operation
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The response body in case of an API error.
      security:
      - personalAccessToken: []
      tags:
      - device
  /v1/projects/{projectOrProductUID}/devices/{deviceUID}/disable-connectivity-assurance:
    post:
      description: Disable Connectivity Assurance
      operationId: DisableDeviceConnectivityAssurance
      parameters:
      - example: app:2606f411-dea6-44a0-9743-1130f57d77d8
        explode: false
        in: path
        name: projectOrProductUID
        required: true
        schema:
          type: string
        style: simple
      - example: dev:000000000000000
        explode: false
        in: path
        name: deviceUID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Successful operation
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The response body in case of an API error.
      security:
      - personalAccessToken: []
      tags:
      - device
  /v1/projects/{projectOrProductUID}/devices/{deviceUID}/sessions:
    get:
      description: Get Device Sessions
      operationId: GetDeviceSessions
      parameters:
      - example: app:2606f411-dea6-44a0-9743-1130f57d77d8
        explode: false
        in: path
        name: projectOrProductUID
        required: true
        schema:
          type: string
        style: simple
      - example: dev:000000000000000
        explode: false
        in: path
        name: deviceUID
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: pageSize
        required: false
        schema:
          default: 50
          maximum: 10000
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: pageNum
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - description: "Start date for filtering results, specified as a Unix timestamp"
        example: 1628631763
        explode: true
        in: query
        name: startDate
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: "End date for filtering results, specified as a Unix timestamp"
        example: 1657894210
        explode: true
        in: query
        name: endDate
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                sessions:
                - session: d76689be-37cd-423c-b695-7e0c19a2a264
                  device: dev:000000000000000
                  product: product:com.blues.demo:project
                  fleets:
                  - fleet:46be9834-5te6-42c1-0000-b5ea05e248d7
                  cell: "310,410,17169,77315594"
                  rssi: -61
                  sinr: 183
                  rsrp: -91
                  rsrq: -13
                  bars: 2
                  rat: lte
                  bearer: LTE FDD
                  ip: 10.68.56.193
                  iccid: "89011704278500000000"
                  apn: a-notehub.com.attz
                  tower:
                    time: 1667250835
                    "n": Shorewood Hills WI
                    c: US
                    lat: 43.0742625
                    lon: -89.44239062499999
                    zone: America/Chicago
                    mcc: 310
                    mnc: 410
                    lac: 17169
                    cid: 77315594
                    l: 86MG3HF5+P25
                    count: 7
                    towers: 1
                  tri: {}
                  when: 1667251044
                  voltage: 4.174
                  temp: 24.437
                  continuous: true
                  tls: true
                  work: 1667251046
                  events: 14
                  moved: 1667250807
                  orientation: face-up
                  trigger: first sync; continuous connection mode
                  hp_secs_total: 7659
                  hp_secs_data: 7659
                  hp_cycles_total: 3
                  hp_cycles_data: 3
                  period:
                    since: 1667250832
                    duration: 215
                    bytes_rcvd: 2501
                    bytes_sent: 4138
                    sessions_tls: 1
                    notes_sent: 12
                has_more: true
              schema:
                $ref: '#/components/schemas/GetDeviceSessions_200_response'
          description: The response body for a session request.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The response body in case of an API error.
      security:
      - personalAccessToken: []
      tags:
      - device
  /v1/projects/{projectOrProductUID}/events:
    get:
      description: Get Events of a Project
      operationId: GetEvents
      parameters:
      - example: app:2606f411-dea6-44a0-9743-1130f57d77d8
        explode: false
        in: path
        name: projectOrProductUID
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: pageSize
        required: false
        schema:
          default: 50
          maximum: 10000
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: pageNum
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - description: A Device UID.
        explode: true
        in: query
        name: deviceUID
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: sortBy
        required: false
        schema:
          default: captured
          enum:
          - best_id
          - device_serial
          - device_uid
          - captured
          - modified
          - device_location
          - tower_location
          - triangulated_location
          - best_location
          type: string
        style: form
      - explode: true
        in: query
        name: sortOrder
        required: false
        schema:
          default: asc
          enum:
          - asc
          - desc
          type: string
        style: form
      - description: "Start date for filtering results, specified as a Unix timestamp"
        example: 1628631763
        explode: true
        in: query
        name: startDate
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: "End date for filtering results, specified as a Unix timestamp"
        example: 1657894210
        explode: true
        in: query
        name: endDate
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: "Which date to filter on, either 'captured' or 'uploaded'.  This\
          \ will apply to the startDate and endDate parameters"
        example: uploaded
        explode: true
        in: query
        name: dateType
        required: false
        schema:
          default: captured
          enum:
          - captured
          - uploaded
          type: string
        style: form
      - explode: true
        in: query
        name: systemFilesOnly
        required: false
        schema:
          type: boolean
        style: form
      - example: "_health.qo, data.qo"
        explode: true
        in: query
        name: files
        required: false
        schema:
          type: string
        style: form
      - description: Response format (JSON or CSV)
        explode: true
        in: query
        name: format
        required: false
        schema:
          default: json
          enum:
          - json
          - csv
          type: string
        style: form
      - description: Filter by Serial Number
        explode: true
        in: query
        name: serialNumber
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Filter by Fleet UID
        explode: true
        in: query
        name: fleetUID
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Filter by Session UID
        explode: true
        in: query
        name: sessionUID
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Filter by Event UID
        explode: true
        in: query
        name: eventUID
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: "Comma-separated list of fields to select from JSON payload (e.g.,\
          \ \"field1,field2.subfield,field3\"), this will reflect the columns in the\
          \ CSV output."
        explode: true
        in: query
        name: selectFields
        required: false
        schema:
          type: string
        style: form
      - deprecated: true
        description: Deprecated.
        explode: true
        in: query
        name: deviceUIDs
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - deprecated: true
        description: Deprecated.
        explode: true
        in: query
        name: since
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                events:
                - event: dfa3747d-688b-4250-935b-5dd60354313c
                  session: b623132c-6afb-4740-bc39-e3634e38f064
                  best_id: My Device
                  device: dev:5c0272311928
                  sn: My Device
                  product: product:com.blues.project.demo
                  app: app:218f6217-9f78-432e-9fe0-02ca8b5a216c
                  received: 1.656011227006928E9
                  req: note.add
                  when: 1656010061
                  file: air.qo
                  updates: 1
                  body:
                    humidity: 40.375
                    pressure: 97705.66
                    temperature: 24.0625
                    voltage: 2.598
                  best_location_type: triangulated
                  best_location_when: 1652709545
                  best_lat: 34.82476372
                  best_lon: -83.32261614
                  best_location: Atlanta GA
                  best_country: US
                  best_timezone: America/New_York
                  tower_id: "0,0,0,0"
                  tri_when: 1652709545
                  tri_lat: 34.82475372
                  tri_lon: -83.32261614
                  tri_location: Atlanta GA
                  tri_country: US
                  tri_timezone: America/New_York
                  tri_points: 6
                has_more: true
              schema:
                $ref: '#/components/schemas/GetEvents_200_response'
            text/csv:
              example: !!binary |-
                ZXZlbnRVSUQsZGV2aWNlVUlELHdoZW4sYmVzdF9sb2NhdGlvbl90eXBlLGJlc3RfbGF0LGJlc3Rf
                bG9uLGJvZHkudGVtcGVyYXR1cmUsYm9keS5odW1pZGl0eQplMTIzNDU2LTc4OTAtYWJjZC1lZjAx
                LTIzNDU2Nzg5MGFiYyxkZXY6MDAwMDAwMDAwMDAwMDAxLDE2MjUwOTc2MDAsZ3BzLDM3Ljc3NDks
                LTEyMi40MTk0LDIyLjUsNDUuMgpmMjM0NTY3LTg5MDEtYmNkZS1mZzEyLTM0NTY3ODkwMWJjZCxk
                ZXY6MDAwMDAwMDAwMDAwMDAyLDE2MjUwOTc2NjAsdHJpYW5ndWxhdGVkLDQwLjcxMjgsLTc0LjAw
                NjAsMjQuMyw0OC43CmczNDU2NzgtOTAxMi1jZGVmLWdoMjMtNDU2Nzg5MDEyY2RlLGRldjowMDAw
                MDAwMDAwMDAwMDMsMTYyNTA5NzcyMCx0b3dlciw1MS41MDc0LC0wLjEyNzgsMjAuMSw1Mi45Cg==
              schema:
                format: binary
                type: string
          description: The response body from a GET events request.
          headers:
            X-Has-More:
              description: True if there are more events
              explode: false
              schema:
                type: boolean
              style: simple
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The response body in case of an API error.
      security:
      - personalAccessToken: []
      tags:
      - event
  /v1/projects/{projectOrProductUID}/events-cursor:
    get:
      description: Get Events of a Project by cursor
      operationId: GetEventsByCursor
      parameters:
      - example: app:2606f411-dea6-44a0-9743-1130f57d77d8
        explode: false
        in: path
        name: projectOrProductUID
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          minimum: 1
          type: integer
        style: form
      - description: |
          A cursor, which can be obtained from the `next_cursor` value from a previous call to this endpoint. The results set returned will include this event as its first result if the given identifier is actually the UID of an event. If this event UID is not found, the parameter is ignored and the results set is the same as if the parameter was not included.
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: sortOrder
        required: false
        schema:
          default: asc
          enum:
          - asc
          - desc
          type: string
        style: form
      - explode: true
        in: query
        name: systemFilesOnly
        required: false
        schema:
          type: boolean
        style: form
      - example: "_health.qo, data.qo"
        explode: true
        in: query
        name: files
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: fleetUID
        required: false
        schema:
          type: string
        style: form
      - description: A Device UID.
        explode: true
        in: query
        name: deviceUID
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                events:
                - event: dfa3747d-688b-4250-935b-5dd60354313c
                  session: b623132c-6afb-4740-bc39-e3634e38f064
                  best_id: My Device
                  device: dev:5c0272311928
                  sn: My Device
                  product: product:com.blues.project.demo
                  app: app:218f6217-9f78-432e-9fe0-02ca8b5a216c
                  received: 1.656011227006928E9
                  req: note.add
                  when: 1656010061
                  file: air.qo
                  updates: 1
                  body:
                    humidity: 40.375
                    pressure: 97705.66
                    temperature: 24.0625
                    voltage: 2.598
                  best_location_type: triangulated
                  best_location_when: 1652709545
                  best_lat: 34.82476372
                  best_lon: -83.32261614
                  best_location: Atlanta GA
                  best_country: US
                  best_timezone: America/New_York
                  tower_id: "0,0,0,0"
                  tri_when: 1652709545
                  tri_lat: 34.82475372
                  tri_lon: -83.32261614
                  tri_location: Atlanta GA
                  tri_country: US
                  tri_timezone: America/New_York
                  tri_points: 6
                next_cursor: ""
                has_more: false
              schema:
                $ref: '#/components/schemas/GetEventsByCursor_200_response'
          description: The response body from a GET events by cursor request.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The response body in case of an API error.
      security:
      - personalAccessToken: []
      tags:
      - event
  /v1/projects/{projectOrProductUID}/events/{eventUID}/route-logs:
    get:
      description: Get Route Logs by Event UID
      operationId: GetRouteLogsByEvent
      parameters:
      - example: app:2606f411-dea6-44a0-9743-1130f57d77d8
        explode: false
        in: path
        name: projectOrProductUID
        required: true
        schema:
          type: string
        style: simple
      - example: 4506f411-dea6-44a0-9743-1130f57d7747
        explode: false
        in: path
        name: eventUID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/RouteLog'
                type: array
          description: Successful operation
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The response body in case of an API error.
      security:
      - personalAccessToken: []
      tags:
      - event
  /v1/projects/{projectOrProductUID}/fleets/{fleetUID}/events:
    get:
      description: Get Events of a Fleet
      operationId: GetFleetEvents
      parameters:
      - example: app:2606f411-dea6-44a0-9743-1130f57d77d8
        explode: false
        in: path
        name: projectOrProductUID
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: fleetUID
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: pageSize
        required: false
        schema:
          default: 50
          maximum: 10000
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: pageNum
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - description: A Device UID.
        explode: true
        in: query
        name: deviceUID
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: sortBy
        required: false
        schema:
          default: captured
          enum:
          - best_id
          - device_serial
          - device_uid
          - captured
          - modified
          - device_location
          - tower_location
          - triangulated_location
          - best_location
          type: string
        style: form
      - explode: true
        in: query
        name: sortOrder
        required: false
        schema:
          default: asc
          enum:
          - asc
          - desc
          type: string
        style: form
      - description: "Start date for filtering results, specified as a Unix timestamp"
        example: 1628631763
        explode: true
        in: query
        name: startDate
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: "End date for filtering results, specified as a Unix timestamp"
        example: 1657894210
        explode: true
        in: query
        name: endDate
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: "Which date to filter on, either 'captured' or 'uploaded'.  This\
          \ will apply to the startDate and endDate parameters"
        example: uploaded
        explode: true
        in: query
        name: dateType
        required: false
        schema:
          default: captured
          enum:
          - captured
          - uploaded
          type: string
        style: form
      - explode: true
        in: query
        name: systemFilesOnly
        required: false
        schema:
          type: boolean
        style: form
      - example: "_health.qo, data.qo"
        explode: true
        in: query
        name: files
        required: false
        schema:
          type: string
        style: form
      - description: Response format (JSON or CSV)
        explode: true
        in: query
        name: format
        required: false
        schema:
          default: json
          enum:
          - json
          - csv
          type: string
        style: form
      - description: Filter by Serial Number
        explode: true
        in: query
        name: serialNumber
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Filter by Session UID
        explode: true
        in: query
        name: sessionUID
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Filter by Event UID
        explode: true
        in: query
        name: eventUID
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: "Comma-separated list of fields to select from JSON payload (e.g.,\
          \ \"field1,field2.subfield,field3\"), this will reflect the columns in the\
          \ CSV output."
        explode: true
        in: query
        name: selectFields
        required: false
        schema:
          type: string
        style: form
      - deprecated: true
        description: Deprecated.
        explode: true
        in: query
        name: deviceUIDs
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - deprecated: true
        description: Deprecated.
        explode: true
        in: query
        name: since
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                events:
                - event: dfa3747d-688b-4250-935b-5dd60354313c
                  session: b623132c-6afb-4740-bc39-e3634e38f064
                  best_id: My Device
                  device: dev:5c0272311928
                  sn: My Device
                  product: product:com.blues.project.demo
                  app: app:218f6217-9f78-432e-9fe0-02ca8b5a216c
                  received: 1.656011227006928E9
                  req: note.add
                  when: 1656010061
                  file: air.qo
                  updates: 1
                  body:
                    humidity: 40.375
                    pressure: 97705.66
                    temperature: 24.0625
                    voltage: 2.598
                  best_location_type: triangulated
                  best_location_when: 1652709545
                  best_lat: 34.82476372
                  best_lon: -83.32261614
                  best_location: Atlanta GA
                  best_country: US
                  best_timezone: America/New_York
                  tower_id: "0,0,0,0"
                  tri_when: 1652709545
                  tri_lat: 34.82475372
                  tri_lon: -83.32261614
                  tri_location: Atlanta GA
                  tri_country: US
                  tri_timezone: America/New_York
                  tri_points: 6
                has_more: true
              schema:
                $ref: '#/components/schemas/GetEvents_200_response'
            text/csv:
              example: !!binary |-
                ZXZlbnRVSUQsZGV2aWNlVUlELHdoZW4sYmVzdF9sb2NhdGlvbl90eXBlLGJlc3RfbGF0LGJlc3Rf
                bG9uLGJvZHkudGVtcGVyYXR1cmUsYm9keS5odW1pZGl0eQplMTIzNDU2LTc4OTAtYWJjZC1lZjAx
                LTIzNDU2Nzg5MGFiYyxkZXY6MDAwMDAwMDAwMDAwMDAxLDE2MjUwOTc2MDAsZ3BzLDM3Ljc3NDks
                LTEyMi40MTk0LDIyLjUsNDUuMgpmMjM0NTY3LTg5MDEtYmNkZS1mZzEyLTM0NTY3ODkwMWJjZCxk
                ZXY6MDAwMDAwMDAwMDAwMDAyLDE2MjUwOTc2NjAsdHJpYW5ndWxhdGVkLDQwLjcxMjgsLTc0LjAw
                NjAsMjQuMyw0OC43CmczNDU2NzgtOTAxMi1jZGVmLWdoMjMtNDU2Nzg5MDEyY2RlLGRldjowMDAw
                MDAwMDAwMDAwMDMsMTYyNTA5NzcyMCx0b3dlciw1MS41MDc0LC0wLjEyNzgsMjAuMSw1Mi45Cg==
              schema:
                format: binary
                type: string
          description: The response body from a GET events request.
          headers:
            X-Has-More:
              description: True if there are more events
              explode: false
              schema:
                type: boolean
              style: simple
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The response body in case of an API error.
      security:
      - personalAccessToken: []
      tags:
      - event
  /v1/projects/{projectOrProductUID}/fleets/{fleetUID}/events-cursor:
    get:
      description: Get Events of a Fleet by cursor
      operationId: GetFleetEventsByCursor
      parameters:
      - example: app:2606f411-dea6-44a0-9743-1130f57d77d8
        explode: false
        in: path
        name: projectOrProductUID
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: fleetUID
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          minimum: 1
          type: integer
        style: form
      - description: |
          A cursor, which can be obtained from the `next_cursor` value from a previous call to this endpoint. The results set returned will include this event as its first result if the given identifier is actually the UID of an event. If this event UID is not found, the parameter is ignored and the results set is the same as if the parameter was not included.
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: sortOrder
        required: false
        schema:
          default: asc
          enum:
          - asc
          - desc
          type: string
        style: form
      - explode: true
        in: query
        name: systemFilesOnly
        required: false
        schema:
          type: boolean
        style: form
      - example: "_health.qo, data.qo"
        explode: true
        in: query
        name: files
        required: false
        schema:
          type: string
        style: form
      - description: A Device UID.
        explode: true
        in: query
        name: deviceUID
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: "Start date for filtering results, specified as a Unix timestamp"
        example: 1628631763
        explode: true
        in: query
        name: startDate
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: "End date for filtering results, specified as a Unix timestamp"
        example: 1657894210
        explode: true
        in: query
        name: endDate
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                events:
                - event: dfa3747d-688b-4250-935b-5dd60354313c
                  session: b623132c-6afb-4740-bc39-e3634e38f064
                  best_id: My Device
                  device: dev:5c0272311928
                  sn: My Device
                  product: product:com.blues.project.demo
                  app: app:218f6217-9f78-432e-9fe0-02ca8b5a216c
                  received: 1.656011227006928E9
                  req: note.add
                  when: 1656010061
                  file: air.qo
                  updates: 1
                  body:
                    humidity: 40.375
                    pressure: 97705.66
                    temperature: 24.0625
                    voltage: 2.598
                  best_location_type: triangulated
                  best_location_when: 1652709545
                  best_lat: 34.82476372
                  best_lon: -83.32261614
                  best_location: Atlanta GA
                  best_country: US
                  best_timezone: America/New_York
                  tower_id: "0,0,0,0"
                  tri_when: 1652709545
                  tri_lat: 34.82475372
                  tri_lon: -83.32261614
                  tri_location: Atlanta GA
                  tri_country: US
                  tri_timezone: America/New_York
                  tri_points: 6
                next_cursor: ""
                has_more: false
              schema:
                $ref: '#/components/schemas/GetEventsByCursor_200_response'
          description: The response body from a GET events by cursor request.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The response body in case of an API error.
      security:
      - personalAccessToken: []
      tags:
      - event
  /v1/projects/{projectOrProductUID}/usage/events:
    get:
      description: "Get events usage for a project with time range and period aggregation,\
        \ when endDate is 0 or unspecified the current time is implied"
      operationId: GetEventsUsage
      parameters:
      - example: app:2606f411-dea6-44a0-9743-1130f57d77d8
        explode: false
        in: path
        name: projectOrProductUID
        required: true
        schema:
          type: string
        style: simple
      - description: "Start date for filtering results, specified as a Unix timestamp"
        example: 1628631763
        explode: true
        in: query
        name: startDate
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: "End date for filtering results, specified as a Unix timestamp"
        example: 1657894210
        explode: true
        in: query
        name: endDate
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: A Device UID.
        explode: true
        in: query
        name: deviceUID
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Filter by Fleet UID
        explode: true
        in: query
        name: fleetUID
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Period type for aggregation
        explode: true
        in: query
        name: period
        required: true
        schema:
          enum:
          - day
          - week
          - month
          type: string
        style: form
      - description: Aggregation level for results
        explode: true
        in: query
        name: aggregate
        required: false
        schema:
          items:
            enum:
            - device
            - fleet
            - project
            - notefile
            type: string
          type: array
        style: form
      - description: Filter to specific notefiles
        explode: true
        in: query
        name: notefile
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageEventsResponse'
          description: Successful operation
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The response body in case of an API error.
      security:
      - personalAccessToken: []
      tags:
      - usage
  /v1/projects/{projectOrProductUID}/usage/route-logs:
    get:
      description: "Get route logs usage for a project with time range and period\
        \ aggregation, when endDate is 0 or unspecified the current time is implied"
      operationId: GetRouteLogsUsage
      parameters:
      - example: app:2606f411-dea6-44a0-9743-1130f57d77d8
        explode: false
        in: path
        name: projectOrProductUID
        required: true
        schema:
          type: string
        style: simple
      - description: "Start date for filtering results, specified as a Unix timestamp"
        example: 1628631763
        explode: true
        in: query
        name: startDate
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: "End date for filtering results, specified as a Unix timestamp"
        example: 1657894210
        explode: true
        in: query
        name: endDate
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: A Route UID.
        explode: true
        in: query
        name: routeUID
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Period type for aggregation
        explode: true
        in: query
        name: period
        required: true
        schema:
          enum:
          - day
          - week
          - month
          type: string
        style: form
      - description: Aggregation level for results
        explode: true
        in: query
        name: aggregate
        required: false
        schema:
          default: route
          enum:
          - route
          - project
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetRouteLogsUsage_200_response'
          description: Response body for Route Log Usage
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The response body in case of an API error.
      security:
      - personalAccessToken: []
      tags:
      - usage
  /v1/projects/{projectOrProductUID}/usage/sessions:
    get:
      description: "Get sessions usage for a project with time range and period aggregation,\
        \ when endDate is 0 or unspecified the current time is implied"
      operationId: GetSessionsUsage
      parameters:
      - example: app:2606f411-dea6-44a0-9743-1130f57d77d8
        explode: false
        in: path
        name: projectOrProductUID
        required: true
        schema:
          type: string
        style: simple
      - description: "Start date for filtering results, specified as a Unix timestamp"
        example: 1628631763
        explode: true
        in: query
        name: startDate
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: "End date for filtering results, specified as a Unix timestamp"
        example: 1657894210
        explode: true
        in: query
        name: endDate
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: A Device UID.
        explode: true
        in: query
        name: deviceUID
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Filter by Fleet UID
        explode: true
        in: query
        name: fleetUID
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Period type for aggregation
        explode: true
        in: query
        name: period
        required: true
        schema:
          enum:
          - day
          - week
          - month
          type: string
        style: form
      - description: Aggregation level for results
        explode: true
        in: query
        name: aggregate
        required: false
        schema:
          default: device
          enum:
          - device
          - fleet
          - project
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSessionsUsage_200_response'
          description: Response body for Session Usage
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The response body in case of an API error.
      security:
      - personalAccessToken: []
      tags:
      - usage
  /v1/projects/{projectOrProductUID}/usage/data:
    get:
      description: Get data usage in bytes for a project with time range and period
        aggregation
      operationId: GetDataUsage
      parameters:
      - example: app:2606f411-dea6-44a0-9743-1130f57d77d8
        explode: false
        in: path
        name: projectOrProductUID
        required: true
        schema:
          type: string
        style: simple
      - description: "Start date for filtering results, specified as a Unix timestamp"
        example: 1628631763
        explode: true
        in: query
        name: startDate
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: "End date for filtering results, specified as a Unix timestamp"
        example: 1657894210
        explode: true
        in: query
        name: endDate
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: A Device UID.
        explode: true
        in: query
        name: deviceUID
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Filter by Fleet UID
        explode: true
        in: query
        name: fleetUID
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Period type for aggregation
        explode: true
        in: query
        name: period
        required: true
        schema:
          enum:
          - day
          - week
          - month
          type: string
        style: form
      - description: Aggregation level for results
        explode: true
        in: query
        name: aggregate
        required: false
        schema:
          default: device
          enum:
          - device
          - fleet
          - project
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDataUsage_200_response'
          description: Response body for Data Usage
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The response body in case of an API error.
      security:
      - personalAccessToken: []
      tags:
      - usage
  /v1/projects/{projectOrProductUID}/environment_variables:
    get:
      description: Get environment variables of a project
      operationId: GetProjectEnvironmentVariables
      parameters:
      - example: app:2606f411-dea6-44a0-9743-1130f57d77d8
        explode: false
        in: path
        name: projectOrProductUID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentVariables'
          description: The response body from an environment variables request.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The response body in case of an API error.
      security:
      - personalAccessToken: []
      tags:
      - project
    put:
      description: Set environment variables of a project
      operationId: SetProjectEnvironmentVariables
      parameters:
      - example: app:2606f411-dea6-44a0-9743-1130f57d77d8
        explode: false
        in: path
        name: projectOrProductUID
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnvironmentVariables'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentVariables'
          description: The response body from an environment variables request.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The response body in case of an API error.
      security:
      - personalAccessToken: []
      tags:
      - project
  /v1/projects/{projectOrProductUID}/environment_hierarchy:
    get:
      operationId: GetProjectEnvironmentHierarchy
      parameters:
      - example: app:2606f411-dea6-44a0-9743-1130f57d77d8
        explode: false
        in: path
        name: projectOrProductUID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvTreeJsonNode'
          description: Successfully retrieved project environment hierarchy
        "404":
          description: Project or device not found
        "500":
          description: Server error
      security:
      - personalAccessToken: []
      summary: Get environment variable hierarchy for a device
      tags:
      - project
  /v1/projects/{projectOrProductUID}/environment_variables/{key}:
    delete:
      description: Delete an environment variable of a project by key
      operationId: DeleteProjectEnvironmentVariable
      parameters:
      - example: app:2606f411-dea6-44a0-9743-1130f57d77d8
[...]
